<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Last Fight</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/ico" href="{{url_for('static', filename='img/favicon.ico')}}">
    <script src="{{url_for('static', filename='script/phaser.min.js')}}"></script>
    <script src="{{url_for('static', filename='script/BootGame.js')}}"></script>
    <script src="{{url_for('static', filename='script/PreloadGame.js')}}"></script>
    <script src="{{url_for('static', filename='script/MainMenu.js')}}"></script>
    <script src="{{url_for('static', filename='script/Controlos.js')}}"></script>
    <script src="{{url_for('static', filename='script/Creditos.js')}}"></script>
    <script src="{{url_for('static', filename='script/MenuPers.js')}}"></script>
    <script src="{{url_for('static', filename='script/MenuMaps.js')}}"></script>
    <script src="{{url_for('static', filename='script/Fight.js')}}"></script>
    <script src="{{url_for('static', filename='script/game.js')}}"></script>
</head>
<body>
</body>
</html>
